<h2>Reach Us </h2>
  <div class="mycontainer text-center">
    <h1> We would be happy to assist you! </h1> <br><br>
	<div class ="message">
	<form name ="myForm" method ="post" action="#" onsubmit ="return validateForm()" >
		<input type="text" id="fname" name="firstname" placeholder="Your first name.." required>
		<input type="text" id="lname" name="lastname" placeholder="Your last name.. "required> 
		<input type="text" id="email" name="email" placeholder="Your email.." required>
		<input type="text" id="query" name="query" placeholder="Subject." required>
		  <textarea id="subject" name="subject"  required placeholder="Your requirements.." style="height:120px"></textarea>
		 <input type="submit" value="Submit">&nbsp; 
		  </form>
	     </div>
	   </div>
	  <div class="container text-center"><br>
   <h1> Contact us</h1><br>
    <div class="row"> 
   <h5>Address:</h5>
	  <p>Berwick Lawn
	  <br>Swords,Dublin </p>
	  <h5>Phone :+353 899771793; +353 871459311</h5>
	  <h5>email:info@seedvalley.com</h5>
	</div>
	
</div>